#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    position: relative;
    
    
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;    
    left: 42%;
    top: 38%;
    
    
  
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/*HEADER PHOTOGRAPHER*/

.photograph-header img {
    width: 200px;
    height: 200px;
}


.photoOfPortfolio{
    width: 300px;
    border-radius: 0;
}

.articleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 150px;
    
}

.articleContainer img{
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

.articleContainer article {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  
}

.containerDescription{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    
}

.articleContainer span {
    color: black;
    background-color: #DB8876;
    width: 350px;
    height: 60px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 40px;
}